.control {
  position: absolute;
  z-index: 1;

  cursor: pointer;
  user-select: none;

  font-size: 50px;

  &-prev,
  &-next {
    top: 0;
    bottom: 0;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    width: 10%;
    height: 100%;
  }

  &-prev {
    left: 0;
    &:hover {
      color: white;
      background: linear-gradient(to right, rgba(lightgrey, 0.8), rgba(lightgrey, 0));
      text-shadow: 0 0 30px black;
    }
  }

  &-next {
    right: 0;
    &:hover {
      color: white;
      background: linear-gradient(to left, rgba(lightgrey, 0.8), rgba(lightgrey, 0));
      text-shadow: 0 0 30px black;
    }
  }

  &-pause {
    right: calc(50% - 25px);
    bottom: 10px;
    &:hover {
      color: white;
      text-shadow: 0 0 30px black;
    }
  }
}
