.carousel {
  max-width: 1100px;
  margin: 0 auto;

  background-color: white;
}

.title {
  z-index: 2;
  font-family: 'Merriweather', serif;
  width: 100%;

  text-align: center;

  @media (min-height: 650px) {
    font-size: 3rem;
  }
  @media (max-height: 649.8px) {
    font-size: 2.5rem;
  }
}
.slides {
  margin: 0;
  padding: 0;

  list-style-type: none;
}

.slide {
  position: absolute;
  z-index: -999;
  top: 0;
  left: 0;
  font-family: 'Merriweather', serif;
  width: 100%;
  height: 100%;

  transition: opacity 0.25s;

  padding: 40px;
  font-size: 40px;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  opacity: 0;
  &:nth-of-type(1) {
    .slide-text {
      position: absolute;
      top: 11vh;
    }
    .slide-image {
      max-height: 60vh;
      margin-top: 7vh;
      max-height: 60vh;
    }
  }
  &-text {
    z-index: 2;

    font-size: 0.8em;
    margin-bottom: -55px;
  }
  &-image {
    width: auto;
    padding: 30px;
    max-height: 75vh;
  }
}
.active {
  z-index: 1;

  opacity: 1;
}
